<!-- views/partials/nav.ejs -->

<nav class="navbar navbar-default">
  <div class="container">
   <div class="navbar-header">
    <div class="navbar-brand">Air Sensor Datas</div>
   </div>
   <ul class="nav navbar-nav">
    <li><a href="/sensing">Index</a></li>
    <li><a href="/sensing/new">New</a></li>
   </ul>
  </div>
 </nav>